{% extends "base_edit.html.twig" %}
{% block title %}Modifier le Gites{% endblock %}

{% block body %}
<br><br><br>
{% form_theme formGites 'bootstrap_4_layout.html.twig' %}

{{form_start(formGites)}}

{{form_widget(formGites)}}

<button class="btn btn-primary">{{button|default('Enregistrer les modifications')}}</button>
{{form_end(formGites)}}
{% endblock %}