{% extends "base.html.twig" %}

{% block title %}Activité{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LES ACTIVITES !</font></font></h1>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">De nombreuses activités gravites autour du gîtes ,musées ,parc d’attraction ,zoo ….
    N’hésitez pas a nous demander des renseignements sur  toutes visites a faire pour découvrir notre belle région.</font></font></p>
    <hr class="my-4">
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">N’hésitez pas à demandé au propriétaire plus de renseignement et de conseille sur vos sorties.</font></font></p>
</div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div>
                    <h1>Découverte</h1>
                    <p>                                        
                        Le point du jour (4mn)
                        <br>
                        Le labymaïs de la brie  (16mn)
                        <br>
                        Le ranch du moulin st Martin (19mn)
                        <br>
                        Train touristique et vélo rail  (20 mn )
                        <br>
                        Circuit automobiles LFG ,Aérodrome (27mn)
                        <br>
                        Les aigles de Château Thierry (27 mn)
                    </p>
                </div>
                    <div>
                        <h1>Parc zoologique et aquarium</h1>
                        <p>                                        
                            Parc des félins et Terre des singes (47mn)
                            <br>
                            Sea life (48 mn)
                            <br>
                            Zoo du boid d’Attilly (60 mn)
                            <br>
                            Parc zoologique de Paris (67 mn)
                        </p>
                </div>           
            </div>
            <div class="col-4">
                <div style="overflow:hidden;width: 700px;position: relative;"><iframe width="300" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Le%20Bois%20S%C3%A9bille%2C%20france+(Titre)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
                        <div class="container md-4" >
                        <h1>Les restaurants</h1>
                        <p>             
                            Restaurant la Bruschetta (6mn)
                            <br>
                            La Valleta  (6mn)
                            <br>
                            Auberge la haute épine (8 mn)
                            <br>                                
                            Le petit Morin (10 mn)
                        </p>
            </div>
            </div>
             <div class="col-4">
                <div>
                <h1>Les Parcs d’attractions</h1>
                <p>             
                Parc Disneyland Paris (44 mn)
                    <br>
                La Mer de sable (71 mn)
                    <br>
                Parc Astérix  (77 mn)
                    <br>
                Nigloland (127 mn)
                    <br>
                </p>
            </div>
                <div>
                    <h1>Les Musées</h1>
                    <p>                                        
                        Espace musée du poids  (17 mn)
                        <br>
                        Maison de l’imprimerie (17 mn)
                        <br>
                        Musée des anciens métiers (18 mn)
                        <br>
                        Musée Jean de Lafontaine  (29 mn)
                    </p>
                </div>
                <div>
                        <h1>Château </h1>
                        <p>                                        
                            Les remparts de Château tierry (29 mn)
                            <br>
                            Le chateaux de Vaux le Viconte (71 mn)
                            <br>
                            La Cite Medievale de Provins (47mn)
                            <br>
                            Le Château de Versaille  (71 mn)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
{% endblock %}