{% extends 'base.html.twig' %}

{% block title %}Bonjour{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Bonjour tout le monde !</h1>
        <p class="lead">      
            Mickael et Magali et leurs enfants vous accueillent dans une ancienne ferme rénovée dans un petit hameau très calme de Verdelot  situé entre 3 départements (la seine et marne ,la marne et l’aisne) entre coulommiers ,Château-thierry et Montmirail .
            Le gîte est idéale pour les vacances en famille ,les 2 aires de jeux seront ravir vos enfants ainsi que la mini ferme (poules,cochons,oies et biquettes vous attendent)
            La ferme à une surface de terrain de 1,3 hectare qui est agréable pour la promenade du soir.
        </p>
        <hr class="my-4">
        <p> Bonne visite sur notre site et en vous souhaitant un agréable futur séjour. </p>
      </div>
{% endblock %} 

{% block js %}
      <script>
        confirm('Ce site utilise des cookies veuillez les acceptez afin de pouvoir poursuivre votre visite sur ce site. Pour les consulter cliquer sur ce lien : https://legiteduboissebille.fr/mentions ');
      </script>
{% endblock %}