{% extends 'base_edit.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}

<div class="container">
        <div class="container md-4">
                <h1>Nouvelle Réservation</h1>
            {{ include('booking/_form.html.twig') }}
        {% if app.user %}
        <btn class="btn btn-primary" href="{{ path('booking_index') }}">back to list</btn>
        {% endif %}
    </div>
</div>

{% endblock %}
